@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --fontTitulos: 'Indie Flower', cursive;
}
body{
  background-color: #F6F6F6 ;
}
/* reutilizables  */
.my-container{
    width: 90%;
    margin: 0 auto;
}
.my-container-small{
    width: 90%;
    margin: 0 auto;
}
.my-container-footer{
    width: 97%;
    margin: 0 auto;
    padding: 1rem 0;
}
.d-flex{
    display: flex;
}
.flex-sp-btn{
    justify-content: space-between;
}
.flex-centrado{
    justify-content: center;
    align-items: center;
}
.flex-center-sb{
    justify-content: space-between;
    align-items: center;
}
.flex-colum{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flex-colum2{
    flex-direction: column;
    justify-content: space-between;
}
.flex-end{
    justify-content: flex-end;
    align-items: center;
}
.flex-grow{
    flex: 1;
}
.text-center{
    text-align: center;
}

/* ------------------------ Header*/
nav a, footer div a {
    font-size: 1.4rem !important;
    text-decoration: none !important;
    margin-right: .5rem;
    color: black;
}
nav i{
    margin-right: .2rem;
}

img.logo{
    width: 4rem;
}

div.content-welcome{
  padding-top: 6rem;
}
div.content-welcome > p{
  padding: 3.5rem;
  font-size: 2rem;
}
/* hero----------------- */
p.title{
    font-size: 2rem;
}
.hero{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    border-radius: 0 0  20% 0;
}
h1.tittle-hero{
    font-family: var(--fontTitulos);
    font-size: 5rem !important;
    color: white;
  }
div.contenedor-hero{
    width: 80vw;
    margin-top: 18vh;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 1rem;
    border-radius: 4rem;
}

div.content-hero > p{
    text-align: center;
    font-size: 2rem;
    color: white;
    
}
.content-hero button{
    font-size: 1.4rem;
}
@media (min-width: 320px) {
    h1.tittle-hero{
        font-size: 3rem !important;
    }
}
@media (min-width: 400px) {
    h1.tittle-hero{
        font-size: 4rem !important;
    }
}
@media (min-width: 764px) {
    div.contenedor-hero{
        width: 80vw;
        margin-top: 5vh;
        background-color: rgba(0, 0, 0, 0.507);
        padding: 1rem 0;
        border-radius: 4rem;
    }
    div.content-hero > p{
    font-size: 3rem !important;
}
    h1.tittle-hero{
        font-size: 8rem !important;
    }

}

/* footer-------- */
footer{
    background-color: #d6d6d6  ;

}
@media (min-width: 400px) {
    .footer{
        width: 90%;
        margin:  0 auto;
    }
    .footer h3{
        color: #0094ef;
    }
    .my-container-footer2{
        width: 90% !important;
    }
    .footer-info, .social-media{
        font-size: 2rem !important;
        padding: 2rem 0;
    }
    .footer-info a{
        font-size: 2rem !important;
    }
}
div.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 852px) {
    div.footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .footer-info{
        font-size: 1.4rem !important;
    }
}
div.footer-copyrigth{
    padding: .5rem 0;
    border-top: 1px solid black;
}
.footer-copyrigth{
    background-color: rgba(107, 104, 104, 0.849);
}
div.footer-copyrigth p{
    color: rgba(255, 255, 255, 0.788);
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}
footer div.social-media i{
    font-size: 2rem;
    margin-top: .5rem;
}
div.social-media i:hover{
    cursor: pointer;
    color: #0094ef;
}
div.footer-info{
    font-size: 1.4rem;
    width: 15rem;
    
}
li{
    display: flex;
    align-items: center;
}
li a{
    color: black; 
}

/* call to action  */
.call-to-action{
    padding: 4rem 0;
}
.travel-image{
    padding-left: 1rem;
    width: 25rem;
}
.call-content{
    text-align: center;
}
@media (min-width: 764px) {


}
@media (min-width: 895px) {
    .call-to-action {
        display: flex;
        flex-direction: row;
    }
    .call-content{
        text-align: left;
    }
}
@media (min-width: 1200px) {
    .call-to-action{
        width: 80%;
    }
}
div.call-content > p{
    font-size: 1.5rem;
    color: #0094ef;
}
div.call-content h2{
    font-size: 3.5rem;
}
.call-content a{
    text-align: center;
}
.call-content button{
    width: 14rem !important;
    font-size: 1.6rem;
    animation: pulse 2s linear infinite alternate;
}
@keyframes pulse {
    from {background-color: #033468}
    to {background-color: #2487f1}
    }
/* carrusel----------- */
.contenedor-carrusel{
    background-color: #2487f1;
    padding: 2rem 0;
}
.contenedor-carrusel h2{
    color: white;
}
div.carrusel{
    width: 85vw;
    margin: 0 auto;
}
.slide-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.slide{
    min-height: 18rem;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    border-radius: 1rem !important;

}

.container-slider{
  width: 25rem !important;
  margin: 1rem;
}
.container-slider:hover{
    cursor: pointer;
}
h3.cities-title{
    width: 25rem;
    background-color: #0000009f;
    color: rgba(255, 255, 255, 0.774);
    text-align: center;
    border-radius: 1rem !important;
}
/* .----- */
.under-construction{
    width: 25rem;
}



